{% extends 'base.html' %}

{% block content %}

<div id="funcionalidade_jax">
    <h2 id="titulo_funcionalidade">
        Funcionalidades do JAX
    </h2>

    <figure class="funcionalidadesfigure ativa" id="funcionalidade1">
        <img src="{{ url_for('static', filename='images/funcionalidades/aulaslives_jax.jpg') }}" alt="Aulas livres do JAX" class="funcionalidades_img">
        <figcaption>Aulas tutoriais (aulas livres fornecidas por nosso time de especialistas sobre temas em pauta)</figcaption>
    </figure>
    <figure class="funcionalidadesfigure" id="funcionalidade2">
        <img src="{{ url_for('static', filename='images/funcionalidades/portalresumos_jax.jpg') }}" alt="Bootcamps do JAX" class="funcionalidades_img">
        <figcaption>Painel de resumos (um lugar para publicar resumos e exercícios realizados ao longo das aulas)</figcaption>
    </figure>

    <!-- <figure class="funcionalidadesfigure ativa" id="funcionalidade1">
        <img src="{{ url_for('static', filename='images/funcionalidades/cursos_jax.png') }}" alt="Cursos do JAX" class="funcionalidades_img">
        <figcaption>Cursos (programas oferecidos por instituções parceiras com objetivo de ensinar habilidades, conhecimentos e competências específicas)</figcaption>
    </figure>
    <figure class="funcionalidadesfigure" id="funcionalidade2">
        <img src="{{ url_for('static', filename='images/funcionalidades/bootcamps_jax.png') }}" alt="Bootcamps do JAX" class="funcionalidades_img">
        <figcaption>Bootcamps (trilhas de ensinamento, formada por sequência de cursos e desafios para formar estudantes em áreas específicas)</figcaption>
    </figure> -->
    <figure class="funcionalidadesfigure" id="funcionalidade3">
        <img src="{{ url_for('static', filename='images/funcionalidades/foruns_jax.png') }}" alt="Foruns do JAX" class="funcionalidades_img">
        <figcaption>Fóruns Onlines (plataformas de discussão na internet onde pessoas com interesses comuns podem se reunir para trocar informações, ideias e opiniões)</figcaption>
    </figure> 
    <!-- <figure class="funcionalidadesfigure" id="funcionalidade4">
        <img src="{{ url_for('static', filename='images/funcionalidades/minigames_jax.png') }}" alt="Minigames do JAX" class="funcionalidades_img">
        <figcaption>Minigames Pixelados (jogos eletrônicas que utilizam pixel art, com aparência retrô e simplificada)</figcaption>
    </figure> -->

</div>

{% endblock %}