{% extends 'base.html' %}

{% block content %}
<section class="hero">
    <div class="hero-container">
        <h1 class="hero-title">JAX: Transformando a Realidade dos Jovens</h1>
        <p class="hero-subtitle">Educação, Inovação e Tecnologia a serviço da sua jornada.</p>
        <div class="hero-buttons">
            {% if current_user.is_authenticated %}
                <a href="/perfil" class="hero-btn">Meu Perfil</a>
                
                {% if current_user.profile == 'admin' %}
                    <a href="/usuarios" class="hero-btn">Gerenciar Usuários</a>
                    <a href="/admin/matriculas" class="hero-btn">Gerenciar Matrículas</a>
                {% endif %}

                <a href="/educacional" class="hero-btn">Educacional</a>
                <a href="/entretenimento" class="hero-btn">Entretenimento</a>
                <a href="/empresarial" class="hero-btn">Empresarial</a>
                
            {% else %}
                <a href="/login" class="hero-btn">Acessar Área Privada</a>
                <a href="/register" class="hero-btn">Criar Conta</a>
            {% endif %}
            
            <a href="/jax_jornada" class="hero-btn">Como o JAX muda o Brasil?</a>
        </div>
    </div>
</section>
{% endblock %}