<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
            JAX | {{ title }}
        {% else %}
            JAX
        {% endif %}
    </title>

    <meta charset="UTF-8">
    <meta name="google-site-verification" content="OoaVt6jNPKKCO9AiGsIeFX3_muqcrkHbLgRui2LYSRg" />
    <meta name="description" content="O JAX capacita e empodera jovens para o mercado digital, oferecendo oportunidades e mudanças para o futuro.">
    <meta name="keywords" content="JAX, jovens, capacitação digital, mercado de trabalho, educação, tecnologia, inovação">
    <meta name="author" content="Projeto JAX">
    <meta property="og:title" content="JAX | Transformando o Futuro dos Jovens">
    <meta property="og:description" content="Capacitação digital e mercado de trabalho para jovens. Projeto JAX: empoderamento e oportunidades para o futuro.">
    <meta property="og:image" content="https://jax-website.onrender.com/statics/images/logo_jax.png">
    <meta property="og:url" content="https://jax-website.onrender.com/">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="JAX | Transformando o Futuro dos Jovens">
    <meta name="twitter:description" content="Empoderamento e capacitação digital para jovens no mercado de trabalho.">
    <meta name="twitter:image" content="https://jax-website.onrender.com/statics/images/logo_jax.png">
    <link rel="icon" href="{{ url_for('static', filename='images/logo_jax.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/carrosel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/jaxresume.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>

    <header class="jax-header">
        <div class="header-container">
            <a href="/home" id="logo">JAX</a>

            <div class="user-greeting">
                {% if current_user %}
                    Olá, {{ current_user.username }}!
                {% elif usuario %}
                    Olá, {{ usuario.username }}!
                {% elif usuario_logado %}
                    Olá, {{ usuario_logado.username }}!
                {% else %}
                    Você não está logado.
                {% endif %}
            </div>

            <button class="menu-toggle" id="menuToggle" aria-label="Abrir menu">☰</button>

            <nav id="navbar" class="navbar hidden" style="overflow: scroll; height: 200px; margin-left: 10px;">
                <ul>
                    <a href="/home" class="hero-btn">Home</a>
                    <a href="/jaxresume" class="hero-btn">Resumos</a>

                    {% if current_user %}

                        <a href="/jaxaulas" class="hero-btn">Aulas</a>

                        <a href="/perfil" class="hero-btn">Meu Perfil</a>
                        {% if current_user.profile in ['admin', 'profissional'] %}
                            <a href="/usuarios" class="hero-btn">Gerenciar Usuários</a>
                            <a href="/admin/matriculas" class="hero-btn">Gerenciar Matrículas</a>
                            <a href="/jaxaulas/listar" class="hero-btn">Gerenciar Aulas</a>
                            <a href="/jaxaulas/novo" class="hero-btn">Criar Aula</a>
                            <a href="/jaxresume/lista" class="hero-btn">Gerenciar Resumos</a>
                            <a href="/jaxresume/novo" class="hero-btn">Criar Resumo</a>
                        {% endif %}
                        <a href="/logout" class="hero-btn">Sair</a>
                    {% else %}
                        <a href="/login" class="hero-btn">Login</a> 
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="footer-container">
            <p>&copy; {{ year }} | Projeto JAX. Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/carrosel.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
