<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
            JAX | {{ title }}
        {% else %}
            JAX
        {% endif %}
    </title>

    <meta charset="UTF-8">
    <meta name="google-site-verification" content="OoaVt6jNPKKCO9AiGsIeFX3_muqcrkHbLgRui2LYSRg" />
    <meta name="description" content="O JAX capacita e empodera jovens para o mercado digital, oferecendo oportunidades e mudanças para o futuro.">
    <meta name="keywords" content="JAX, jovens, capacitação digital, mercado de trabalho, educação, tecnologia, inovação">
    <meta name="author" content="Projeto JAX">
    <meta property="og:title" content="JAX | Transformando o Futuro dos Jovens">
    <meta property="og:description" content="Capacitação digital e mercado de trabalho para jovens. Projeto JAX: empoderamento e oportunidades para o futuro.">
    <meta property="og:image" content="https://jax-website.onrender.com/statics/images/logo_jax.png">
    <meta property="og:url" content="https://jax-website.onrender.com/">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="JAX | Transformando o Futuro dos Jovens">
    <meta name="twitter:description" content="Empoderamento e capacitação digital para jovens no mercado de trabalho.">
    <meta name="twitter:image" content="https://jax-website.onrender.com/statics/images/logo_jax.png">
    <link rel="icon" href="{{ url_for('static', filename='images/logo_jax.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/carrosel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/jaxresume.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        <h1 id="logo">JAX</h1>
        <nav id="navbar" class="hidden">
            <ul>
                <li><a href="{{ url_for('main.home') }}">Home</a></li>
                <li><a href="{{ url_for('main.jaxresume') }}">JAXResume</a></li>
                <li><a href="{{ url_for('main.funcionalidades') }}">Funcionalidades</a></li>
                <li><a href="{{ url_for('main.sobre') }}">Sobre</a></li>
                <li><a href="{{ url_for('main.galeria') }}">Galeria</a></li>
                <li><a href="{{ url_for('main.historia') }}">História</a></li>
                <li><a href="{{ url_for('main.contato') }}">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Projeto JAX. Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/carrosel.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
