{% extends 'base.html' %}

{% block content %}

<div id="contato_jax">
    <h2 id="titulo_contato">
        Contato
    </h2>
    <h4 id="descricao_contato">
        <ul>
            <li><a href="https://www.instagram.com/jax_oficial3" target="_blank" rel="noopener noreferrer"> Instagram </a> </li>
            <li><a href="https://discord.com/invite/qRzVyxRF" target="_blank" rel="noopener noreferrer"> Discord </a></li>
            <li><a href="mailto:projetojaxoficial@gmail.com"> E-mail </a></li>
        </ul>
    </h4>
</div>

<div id="visita_jax">
    <h2 id="titulo_visita">
        Ou melhor, venha nos visitar.
    </h2>
    <h4 id="descricao_visita">
        <ul>
            <li> Nossos clientes são importantes para nós. Ficaríamos contentes em receber a sua visita durante nosso horário comercial. </li> <br>
            <li>Jax:</li>
            <li>&nbsp;&nbsp;&nbsp;Araraquara, São Paulo, Brasil </li> <br>
            <li>Horas:</li>
            <li>&nbsp;&nbsp;&nbsp;Hoje: fechado</li>
        </ul>
    </h4>
</div>

{% endblock %}
