{% extends 'base.html' %}

{% block content %}

<div id="galeria_jax">
    <h2 id="titulo_galeria">
        Descubra momentos especiais do JAX
    </h2>
    <div id="descricao_galeria">

        <div id="carrosel">

            <div class="carrosel_galeria">

                <img src="{{ url_for('static', filename='images/logo_jax.jpg') }}" alt="capa do carrosel" class="capa">

            </div>

            <button class="anterior_galeria" title="Voltar para imagem anterior"> &lt; </button>
            <button class="proximo_galeria" title="Ir para próxima imagem"> &gt; </button>

        </div>

    </div>
</div>


{% endblock %}
