{% extends 'base.html' %}

{% block content %}

<div id="historia_jax">
    <h2 id="titulo_historia">
        Conheça história do Projeto JAX
    </h2>
    <h4 id="descricao_historia">
        <ul id="historia_lista">
            <li>
                A ideia do JAX começou em 2022, como uma ideia vaga e sem especificações.
            </li>
            <li>
                Os sócios foram entrando, a equipe cresceu.
            </li>
            <li>
                Hoje o JAX está atuando para mudar o mundo tanto pelo lado pessoal como profissional.
            </li>
        </ul>
    </h4>
</div>

{% endblock %}
