{% extends 'base.html' %}

{% block content %}
<h1>Sobre o JAX</h1>

<div id="objetivo_jax">
    <h2 id="titulo_objetivo">
        Objetivo
    </h2>
    <h4 id="descricao_objetivo">
        <ul>
            <li>Auxiliar jovens a saírem da condição nem-nem.</li>
        </ul>
    </h4>
</div>

<div id="contexto_jax">
    <h2 id="titulo_contexto">
        Contexto do JAX
    </h2>
    <h4 id="descricao_contexto">
        <ul>
            <li>De acordo com a Agência Brasil ( portal de notícias oficiais do Governo Federal do Brasil ), o número de jovens entre 14 e 24 anos na condição de que nem estudam e nem trabalham ficou em 4,5 milhões.</li>
            <li>Um recuo de 0,95% em relação ao mesmo trimestre de 2023, quando 4,8 milhões de jovens não estavam estudando nem trabalhando.</li>
        </ul>
    </h4>
</div>

<div id="principios_jax">
    <h2 id="titulo_principios">
        Princípios norteadores do JAX
    </h2> <br>
    <div class="triangulo">
        <div class="educacao">EDUCAÇÃO</div>
        <div class="tecnologia">TECNOLOGIA</div>
        <div class="inovacao">INOVAÇÃO</div>
    </div>
</div>

<div id="missao_jax">
    <h2 id="titulo_missao">
        Nossa Missão 
    </h2> 
    <h4 id="descricao_missao"> 
        <ul>
            <li>No JAX, nossa missão é transformar a educação no Brasil, oferecendo recursos acessíveis e de qualidade.</li>
            <li>Acreditamos que todos merecem a oportunidade de aprender e crescer, independetemente de sua situação financeira. </li>
        </ul>
    </h4>
</div>

<div id="valores_jax">
    <h2 id="titulo_valores">
        Nossos Valores
    </h2>
    <h4 id="descricao_valores"> 
        <ul>
            <li>Valorizamos a Educação, a Inovação e a Tecnologia em tudo que fazemos.</li>
            <li>Esses princípios norteiam nossas ações e garantem que estamos sempre focados no melhor interesse de nossos alunos e suas famílias.</li>
        </ul>
    </h4>
</div>

<div id="equipe_jax">
    <h2 id="titulo_equipe">
        Equipe Dedicada
    </h2>
    <h4 id="descricao_equipe"> 
        <ul>
            <li>Nossa equipe é composta por educadores experientes e apaixonados que se dedicam a fornecer o melhor suporte aos nossos alunos.</li>
            <li>Trabalhamos juntos para criar um ambiente de apredizado positivo e estimulante.</li>
        </ul>
    </h4>
</div>

{% endblock %}
